<div class="row">
  
  <div id="liked_books" class="centerwrap smitify owl-carousel owl-theme">
        <% @user.liked_books.each do |book| %>
            <div class="item">
              <hr>
              <%= link_to image_tag(book.image_url, class: "lazyOwll"), book_path(book) %>
              <hr>
              <%=link_to "Unlike", unlike_book_path(@user, book), class: "btn btn-success btn-block" %>  
            </div>
            <div class="clearfix"></div>
        <% end -%>
  </div>
</div>

<div class="clearfix"></div><hr>

<div class="row">
  <!-- <div class="col-sm-8"> -->
    <div class="btn-group centerwrap customNavigation" data-toggle="buttons">
      <label class="btn btn-primary active prev">
        <input  type="checkbox" autocomplete="off" checked> Previous
      </label>
      <label class="btn btn-primary next">
        <input  type="checkbox" autocomplete="off"> Next
      </label>
      <label class="btn btn-primary play">
        <input  type="checkbox" autocomplete="off"> Autoplay
      </label>
      <label class="btn btn-primary stop">
        <input  type="checkbox" autocomplete="off"> Stop
      </label>
    </div>
  <!-- </div> -->

</div>
